version: '3.8'
services:

  #PHP Service
  php:
    image: chapacua/php:0.2
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - laravelnet
  #Nginx Service
  webserver:
    image: chapacua/nginx:0.2
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "9001:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - laravelnet
  # Database
  db:
    image: mysql:5.7
    container_name: db
    volumes:
      - data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks:
      - laravelnet
  # phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    container_name: pma
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: ${PMA_HOST}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    networks:
      - laravelnet      
#Docker Networks
networks:
  laravelnet:
    driver: bridge
#Volumes
volumes:
  data: